{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/" style="color: #ff0000;">
            <span style="color: #fff; margin-right: 8px;">&#9733;</span>Oscar Javier Castelblanco Quintero
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link text-center" href="https://www.linkedin.com/in/oscar-javier-castelblanco-quintero-556b55b1/" style="color: #39FF14; font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace; font-size: 1.35rem;">
                        LinkedIn
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-center" href="/blog" style="color: #39FF14; font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace; font-size: 1.35rem;">
                        Certificaciones
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-center" href="/blog" style="color: #39FF14; font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace; font-size: 1.35rem;">
                        Blog
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-center" href="/blog" style="color: #39FF14; font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace; font-size: 1.35rem;">
                        Download CV_ES
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-center" href="/blog" style="color: #39FF14; font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace; font-size: 1.2rem;">
                        Download CV_EN
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>